[MAIN]

# From the pylint docs:
# > In practice, it is often better to create a minimal configuration file
# >   which only contains configuration overrides. 
# > For all other options, Pylint will use its default values.

# Disable similarity checker
disable=similarities